NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/NinjectInterceptorSample.exe
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/NinjectInterceptorSample.exe.config
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/NinjectInterceptorSample.pdb
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/NinjectInterceptorSample.vshost.exe
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/NinjectInterceptorSample.vshost.exe.config
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/NinjectInterceptorSample.vshost.exe.manifest
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/NinjectInterceptorSample.csproj.FileListAbsolute.txt
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/NinjectInterceptorSample.csprojResolveAssemblyReference.cache
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/NinjectInterceptorSample.exe
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/NinjectInterceptorSample.pdb
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NinjectInterceptorSample/NinjectInterceptorSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Castle.Core.dll
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Castle.Core.xml
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/LinFu.DynamicProxy.dll
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Ninject.dll
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Ninject.Extensions.Interception.dll
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Ninject.Extensions.Interception.DynamicProxy.dll
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Ninject.Extensions.Interception.DynamicProxy.xml
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Ninject.Extensions.Interception.xml
NinjectInterceptorSample/NinjectInterceptorSample/bin/Debug/Ninject.xml
